/* GOOGLE FONTS */

@import url("https://fonts.googleapis.com/css?family=Lusitana");
@import url("https://fonts.googleapis.com/css2?family=Lusitana:ital,wght@0,400;0,700;1,400;1,700&display=swap");


:root {
    --title-font-family: "Arial", sans-serif;
    --default-font-family: "Arial", sans-serif;
    --default-font-size: 1.05rem;


    --primary-color: #602656;
    --primary-color-light: #71C9D9;
    --cta-button-color: #E74A5D;
    --primary-background-color: #71C9D9;
    --header-background-color: #FFFFFF;
    --card-background-color: #602656;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    line-height: 1;
}

p {
    line-height: 1.5;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.flow-content > * + * {
    margin-top: 1rem;
}

.container {
    padding: 1rem;
    width: 100%;
}

body {
    background: var(--primary-background-color);
    color: var(--primary-color);
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    margin: 0 auto;
    max-width: 1400px;
    max-height: 1000px;
    overflow-x: hidden;
}

.cart-sign-in-position {
    position: relative;
}

.cart-sign-in-button,
.cart-sign-in-button:visited {
    cursor: pointer;
    background-color: inherit;
    border: solid white 2px;
}

.cart-sign-in-button a {
    text-decoration: none;
}

a,
a:visited {
    color: var(--primary-color);
}

a:hover,
a:active {
    color: var(--cta-button-color);
}